.App  {
  font-family: sans-serif;
  text-align: center;
  background-color: beige;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.page{
  background-color white;
  text-align: center;
}


a {
  color: #333;
  text-decoration: none;
}
.container {
  width: 100%;
}
.header h1,
.header .breadcrumb {
  text-align: center;
  font-weight: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.product {
  margin-top: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(209, 209, 209);
}
.image,
.product,
.track,
.song,
.price {
  padding: 5px 10px;
}
.product div {
  padding-left: 10px;
}
.product h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.product .author {
  color: rgb(90, 90, 90);
  font-weight: bold;
}

.product .song {
  font-size: 1.1em;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.product .price {
  font-size: 1.2em;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.product .add-button,
.searchBar input[type="submit"] {
  padding: 8px 10px;
  border: 0px;
  border-radius: 5px;
  min-width: 80px;
  color: #fff;
  float: ;
  font-size: 1.1em;
}
.product button {
  background-color: rgb(79, 149, 255);
  padding: 10px 15px;
  border: 0px;
  border-radius: 20px;
  color: #fff;
  float: center;
}

.remove-button button {
  background-color: rgb(255, 79, 79);
  padding: 10px 10px;
  border: 0px;
  border-radius: 20px;
  color: #fff;
  float: center ;
}
.searchBar button {
  background-color: rgb(55, 74, 102);
  padding: 16px 20px;
  border: 0px;
  border-radius: 20px;
  color: #fff;
  float: center;
  margin: 10px
}
/* .product .button {
  padding: 10px 15px;
  border: 0px;
  border-radius: 20px;
  color: #fff;
  float: right;
  font-size: 1.1em;
  background-color: #bd1515;
  font-weight: bold;
  font-size: 1.2em;
} */

.searchBar {
  text-align: center;
}
.searchBar form {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #dbdbdb;
}

.searchBar input[type="text"] {
  border-radius: 5px;
  padding: 5px 10px;
  color: #000;
  font-size: 1.3em;
  border: 2px solid #9e9e9e;
  width: 80%;
  margin-right: 5px;
}

.searchBar input[type="submit"] {
  background-color: rgb(79, 149, 255);
  width: 15%;
  margin-right: 5px;
}
